* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
nav {
    background:rgba(150, 132, 99, 0.863);
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 1.3rem;
    padding: 0px 80px;
}
.site-logo {
    font-size: 1.5rem;
    
}
/* .a-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.a-link a {
    background:#C8C46D;
    padding: 0 20px;
    margin: 0 15px;
    border-radius: 15%;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(214, 214, 51, 0.808);
}
.getstar {
    background: rgba(216, 216, 105, 0.705);
    padding: 0px 75px;
    padding-top: 4px;
    border-radius: 15%;
    font-size: 1.3rem;
}
.site-logo:hover {
    font-size: 1.6rem;

}
.a-link a:hover {
    font-size: 1.6rem;
}
.getstar:hover {
    font-size: 1.4rem;
    background: rgba(151, 51, 5, 0.747);
    padding-bottom: 10px;
    color: antiquewhite;
}
#bars {
    padding: 0 3px;
    display: none;
}
.banner {
    display: flex;
    background: #6AC76A;
    width: 100%;
    height:calc(100vh - 100px);
}
.banner-left {
    flex: 1;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
}
.banner-right h1 {
    font-size: 3rem;
    font-weight: bolder;
}
.banner-right p {
    font-size: 1.5rem;
    font-weight: 650;
}
.banner-right a {
    font-size: 1.4rem;
}
.banner-right a:hover {
    cursor: pointer;
}
section {
    width: 100%;
    height: 500px;
    background: #C8C46D;
}
section h3 {
    text-align: center;
    font-size: 2.7rem;
    color: white;
}
section .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.row .card {
    width: 200px;
    height: 300px;
    /* background: red; */
    margin: 10px;
    flex: 1 1 300px;
    }
    .tree-name {
        text-align: center;
        color: white;
        font-size: 1.3rem;
    }
 section  .row2 {
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
    }
    #sectionid  {
        width: 100%;
        min-height: 400px;
        background: url(./devin-h-PAEwrnasOvY-unsplash.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        text-align: center;
        font-size: 1.4rem;
        color: white;
        padding: 30px ;
        
             
    }
    .containall {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    #sectionid .bracket {
        flex: 1 1 53px;
        /* width: 200px; */
        /* height: 100px; */
      grid-gap: 20px;
        /* margin: 15px; */

    }
@media(max-width:450px) {
    nav {
        padding: 1px 3px;
        height: 100px;
        display: flex;
        
    }
    .site-logo {
        font-size: 1rem;
        padding: 0px 11px;
      
    }
    .site-logo img{
        width: 20px;
        height: 20px;
    }
    .a-link {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        /* width: 100%; */
     background: rgba(50, 205, 184, 0.863);
     text-align: center;
     padding: 10px 90px;
     transform: scale(1);
    transition: 0.5s;
    transform-origin: bottom right;
    opacity: 1;
    }
    .show {
        transform: scale(0);
        opacity: 0;
    }
    .a-link a{
        margin: 10px 3px;
        display: block;
        border: 1px solid rgba(212, 212, 82, 0.568);
        border-radius: 30%;
        box-shadow: 0 0 10px rgba(211, 211, 84, 0.658);
    }
    .getstar {
        display: none;
    }
    #bars {
        display: block;
        background: rgba(109, 156, 21, 0.938);
        padding: 3px;
        border-radius: 10%;
    }
    .banner {
        flex-direction: column;
    }
    .banner-left img {
        width: 90px;
        height: 90px;
        margin: 25px;
    }
   .banner-right h2 {
    font-size: 1.8rem;
   }
   .banner-right p {
    font-size: 1.4rem;
   }
   .banner-right a{
    font-size: 1.3rem;
   }
   .banner-right a:active {
    font-size: 1.7;
   }
}